practice/*

# Dont commit these files
*.json
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.db

# Venv 
venv/
**/.venv/

# Scripts
scripts/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Project Answers
challenges/local_llm_chat/*.py

